@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&family=Pacifico&display=swap');

:root {
    --blue: #7b9acc;
    --black: #333;
    --white: #fff;
    --yellow: #E7D044;
    --purple: #A04EF6;
    --light-bg: #FCF6F5;
    --light-color: #666;
    --border:.1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem  rgba(0,0,0,.1);

}

* {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;

}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-color);
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

body {
    background: var(--light-bg);
    overflow-x: hidden;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: var(--black);
    background-color: var(--blue);
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}

.btn:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--blue);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
}

/*---------------------------------Navi bar---------------------------------*/
.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--yellow);
}

.header .flex .icons div {
    font-size: 1.2rem;
    color: var(--light-color);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .flex .icons div:hover {
    columns: var(--yellow);
}

.header .flex .icons div span {
    font-size: 1.5rem;
}

#menu-btn {
    display: none;
}

/*---------------------------------user---------------------------------*/
.user-account {
    position: fixed;
    top: 0; right: -110%;
    width: 100%;
    z-index: 1100;
    background-color: var(--white);
    height: 100vh;
    overflow-y: scroll;
}

.user-account.active{
    right: 0;
}

.user-account #close-account {
    text-align: right;
    margin-bottom: 2.5rem;
}

.user-account #close-account span {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: underline;
}

.user-account #close-account span:hover {
    color: var(--yellow);
}


.user-account .user {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.user-account .user p {
    font-size: 2rem;
    color: var(--black);
}

.user-account .user p span {
    color: var(--black);
}


.user-account .display-orders {
    padding:3rem 2rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.user-account .display-orders p {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    color: var(--light-color);
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.user-account .display-orders p span {
    color: var(--purple);
}


.user-account .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}


.user-account .flex form {
    flex:1 1 40rem;
    border-radius: .5rem;
    padding:2rem;
    background-color: var(--light-bg);
}

.user-account .flex form h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.user-account .flex form .box {
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.4rem;
    font-size: 1.2rem;
    color: var(--black);
}


/*---------------------------------orders---------------------------------*/
.my-orders {
    position: fixed;
    top: 0; right: -110%;
    width: 30rem;
    z-index: 1100;
    background-color: var(--yellow);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll;
}

.my-orders.active {
    right: 0;
}

.my-orders #close-orders {
    text-align: right;
    margin-bottom: 2.5rem;
}

.my-orders #close-orders span {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: underline;
}

.my-orders #close-orders span:hover {
    color: var(--yellow);
}


.my-orders .title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--black);
    font-size: 2rem;
    text-transform: capitalize;
}

.my-orders .box {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    margin: 1.5rem 0;
}

.my-orders .box p{
    margin: 1rem 0;
    font-size: 1.2rem;
    color: var(--light-color);
    line-height: 1.5;
 }
 
 .my-orders .box p span{
    color: var(--black);
 }
 


/*---------------------------------cart---------------------------------*/
.shopping-cart {
    position: fixed;
    top: 0; right: -110%;
    width: 30rem;
    z-index: 1100;
    background-color: var(--yellow);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll;
}

.shopping-cart.active {
    right: 0;   
}

.shopping-cart #close-cart {
    text-align: right;
    margin-bottom: 2.5rem;
}

.shopping-cart #close-cart span {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: underline;
}

.shopping-cart #close-cart span:hover {
    color: var(--yellow);
}

.shopping-cart .box {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    margin: 1.5rem 0;
}

.shopping-cart .box .fa-times {
    position: absolute;
    top: 1.5rem; right: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--black);
}

.shopping-cart .box img {
    width: 7rem;
}


.shopping-cart .box .content p {
    font-size: 1.3rem;
    color: var(--light-color);
}

.shopping-cart .box .content p span {
    color: var(--purple);
}


.shopping-cart .box .content form {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.shopping-cart .box .content form .qty {
    border:var(--border);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1rem;
    color: var(--black);
    width: 5rem;
}

.shopping-cart .box .content form .fa-edit {
    width: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--light-bg);
    color: var(--black);
}


.shopping-cart .box .content form .fa-edit:hover {
    background-color: var(--black);
    color:var(--white);
}



/*---------------------------------Navi bar---------------------------------*/
@keyframes fadeLeft {
    0% {
        transform: translateX(5rem);
    }
}

@keyframes fadeRight {
    0% {
        transform: translateX(-5rem);
    }
}

.home-bg {
    background: url(../images/home-bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home .slide-container {
    margin-top: 12rem;
 }


.home-bg .home .slide-container .slide {
    display: none;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.home-bg .home .slide-container .slide.active {
    display: flex;
}


.home-bg .home .slide-container .slide .image {
    /*flex: 1 1 40rem;*/
    animation: fadeRight .4s linear;
}

.home-bg .home .slide-container .slide .image img {
    width: 400px;
}


.home-bg .home .slide-container .slide .content {
    flex: .3 .3 40rem;
    text-align: center;
    animation: fadeLeft .4s linear;
}


.home-bg .home .slide-container .slide .content h3 {
    background-color: var(--purple);
    color: var(--white);
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 4rem;
    line-height: 30px;
    text-shadow: var(--box-shadow);
    margin-bottom: 3rem;
}

.home-bg .home .slide-container .slide .content .fa-angle-left,
.home-bg .home .slide-container .slide .content .fa-angle-right {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    color: var(--black);
    background-color: var(--white);
    margin: 0 .5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: .5rem;
}

.home-bg .home .slide-container .slide .content .fa-angle-left:hover,
.home-bg .home .slide-container .slide .content .fa-angle-right:hover{
   background-color: var(--yellow);
   color:var(--white);
}

.about .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
 }

/*---------------------------------About---------------------------------*/
.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.about .box-container .box {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.about .box-container .box img {
    width: 100%;
    margin-bottom: 2rem;
}

.about .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color:var(--black);
}








/*---------------------------------media queries---------------------------------*/
@media (max-width:991px) {
    html {
        font-size: 60%;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    /*Navbar가 아이콘 안으로 들어가고 그 정렬*/
    .header .flex .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    /* navbar가 아이콘 안에서 활성화*/
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }

    .home-bg .home .slide-container .slide .content h3 {
        font-size: 4rem;
    }
}


@media (max-width:450px){

    html {
       font-size: 60%;
    }
 
    .my-orders {
       width: 100%;
       border-left: 0;
    }

    .shopping-cart {
        width: 100%;
        border-left: 0;
    }

    .about .box-container {
        grid-template-columns: 1fr;
    }

}