@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,200&family=Pacifico&display=swap');

:root {
    --blue: #7b9acc;
    --black: #333;
    --white: #fff;
    --yellow: #E7D044;
    --purple: #A04EF6;
    --light-bg: #FCF6F5;
    --light-color: #666;
    --border:.1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem  rgba(0,0,0,.1);

}

* {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;

}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

body {
    background: var(--light-bg);
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: var(--black);
    background-color: var(--blue);
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    background-color: var(--yellow);
    color: var(--white);
}

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--blue);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
}

/*Navi bar*/
.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--yellow);
}

.header .flex .icons div {
    font-size: 1.2rem;
    color: var(--light-color);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .flex .icons div:hover {
    columns: var(--yellow);
}

.header .flex .icons div span {
    font-size: 1.5rem;
}

#menu-btn {
    display: none;
}

/*user*/
.user-account {
    position: fixed;
    top: 0; right: -110%;
    width: 100%;
    z-index: 1100;
    background-color: var(--white);
    height: 100vh;
    overflow-y: scroll;
}

.user-account.active{
    right: 0;
}

.user-account #close-account {
    text-align: right;
    margin-bottom: 2.5rem;
}

.user-account #close-account span {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--black);
    text-decoration: underline;
}

.user-account #close-account span:hover {
    color: var(--yellow);
}


.user-account .user {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.user-account .user p {
    font-size: 2rem;
    color: var(--black);
}

.user-account .user p span {
    color: var(--black);
}


.user-account .display-orders {
    padding:3rem 2rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.user-account .display-orders p {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    color: var(--light-color);
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.user-account .display-orders p span {
    color: var(--purple);
}


.user-account .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}


.user-account .flex form {
    flex:1 1 40rem;
    border-radius: .5rem;
    padding:2rem;
    background-color: var(--light-bg);
}

.user-account .flex form h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.user-account .flex form .box {
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.4rem;
    font-size: 1.2rem;
    color: var(--black);
}








/* media queries  */
@media (max-width:991px) {
    html {
        font-size: 60%;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    /*Navbar가 아이콘 안으로 들어가고 그 정렬*/
    .header .flex .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    /* navbar가 아이콘 안에서 활성화*/
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
}